.major-list {
  list-style: none;
  padding: 0;
  width: 394px;
  height: 308px;
  position: relative;
  background-color: #ffffff;
  margin: 0;
}

.major-list .major-list__item {
    border-top: 2px solid #f2f2f2;
    font-size: 10px;
    width: 304px;
    height: 37px;
    text-align: left;
    margin: 0 auto;
    padding-top: 12px;
    padding-left: 0px;
    padding-right: 10px;
    padding-bottom: 10px;
}
